<!DOCTYPE html>
<html ng-app="fluro">
<head>
    <meta charset="utf-8">

    <title ng-bind="seo.headTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <!-- fluro:devstart -->
    <!--//////////////////////////////////////////-->

    <!--  -->
    <meta property="fluro_url" content="https://api.staging.fluro.io">
    <meta property="app_dev_url" content="http://attendance.fluro.io">
<!--     <meta property="fluro_application_key" content="$2a$10$1cmxRnSsVlZPGRETfAamcuqCCBPw0nU/a07FZzzTugjN0fjF/JjBW">-->
    <!--//////////////////////////////////////////-->
    <!-- fluro:devend -->


    <!--//////////////////////////////////////////-->
    <!-- fluro:config -->
    <!--//////////////////////////////////////////-->


    <!--//////////////////////////////////////////-->
    <!-- build:css /css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!--//////////////////////////////////////////-->

    <!--//////////////////////////////////////////-->

    <!-- fluro:beforecss -->
    <!-- build:css /css/style.min.css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endbuild -->
    <!-- fluro:aftercss -->

    <!--//////////////////////////////////////////-->
    <!-- fluro:googleanalytics -->
    <!-- fluro:headerinject -->
    <!--//////////////////////////////////////////-->


    <base href="/">
</head>
<body ng-cloak>

    <fluro-preloader></fluro-preloader>

    <!-- app-wrapper -->
    <div class="layout-outer" ng-class="{'expanded': $root.sidebarExpanded == true}">

        <div class="notifications" ng-class="{'active':$root.notificationService.messages.length}" >
            <div class="message message-{{$root.notificationService.lastMessage().style}}" ng-click="$root.notificationService.dismiss()">
                {{$root.notificationService.lastMessage().text}}
            </div>
        </div>


        <a class="btn-hamburger" ng-click="$root.sidebarExpanded = !$root.sidebarExpanded">
            <hamburger ng-class="{open:$root.sidebarExpanded}"></hamburger>                            
        </a>
        
        <div class="layout-main">
            <!-- main-content -->
            <header class="masthead">
                
                <div ng-if="$root.breadcrumb.trail.length <= 1">
                    <a class="logo-name" ui-sref-active="active" ui-sref="home">
                        Attendance
                        <!-- {{$root.seo.headTitle}} -->
                    </a>
                </div>
                <div class="pull-left" ng-if="$root.breadcrumb.trail.length > 1">
                    <a class="btn-masthead" ng-click="$root.breadcrumb.back()">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </div>
                <div class="masthead-menu">
                    <ul ng-show="$root.user">
                        <!-- <li>
                            <a ui-sref-active="active" ui-sref="home">
                                <span>All Events</span>
                            </a>
                        </li> -->
                    </ul>
                </div>            
            </header>    

            <div ui-view></div>
        </div>

        <!-- overlay when sidebar is expanded -->
        <div class="layout-blanket" ng-click="$root.sidebarExpanded = false"></div>

        <!-- sidebar -->
        <div class="layout-sidebar">
            <div class="layout-sidebar-content">
                <div class="sidebar-block border-bottom" ng-if="$root.user">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="avatar">
                                <img preload-image aspect="100" ng-src="{{$root.asset.avatarUrl($root.user._id, 'user', {w:80, h:80, cb:$root.avatarCache.buster})}}">
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <h4 class="sidebar-user-name">{{$root.user.firstName}} {{$root.user.lastName}}</h4>
                            <h4 class="sidebar-user-account">{{::$root.user.account.title }}</h4>
                        </div>
                    </div>
                </div>

                <!-- Logged in User Menu -->
                <div ng-if="$root.user">
                    <ul class="sidebar-menu">
                        <li>
                           <!--  <a ui-sref-active="active" ui-sref="home" > -->
                            <a ng-click="$root.breadcrumb.top()">
                                <i class="lnr lnr-calendar-full"></i>
                                <span>All Events</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a ui-sref="new({returnTo:event._id, realm:event.realms[0]._id})">
                                <i class="lnr lnr-user"></i>
                                <span>New Contact</span>
                            </a>
                        </li> -->
                        <li>
                            <a ng-click="$root.logout()">
                                <i class="lnr lnr-exit"></i>
                                <span>Sign out</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Logged out visitor -->
                <div ng-if="!$root.user">
                    <ul class="sidebar-menu" >
                        <li>
                            <a ui-sref="home">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- build:js /js/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>
    <script src="/bower_components/fluro.config/dist/fluro.config.js"></script>
    <script src="/bower_components/fluro.util/dist/fluro.util.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/fluro.content/dist/fluro.content.js"></script>
    <script src="/bower_components/fluro.asset/dist/fluro.asset.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="/bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <script src="/bower_components/fluro.video/dist/fluro.video.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/fluro.socket/dist/fluro.socket.js"></script>
    <script src="/bower_components/api-check/dist/api-check.js"></script>
    <script src="/bower_components/angular-formly/dist/formly.js"></script>
    <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
    <script src="/bower_components/fluro.access/dist/fluro.access.js"></script>
    <script src="/bower_components/validator-js/validator.js"></script>
    <script src="/bower_components/fluro.validate/dist/fluro.validate.js"></script>
    <script src="/bower_components/fluro-interactions/dist/fluro.interactions.js"></script>
    <script src="/bower_components/async/dist/async.js"></script>
    <script src="/bower_components/SHA-1/sha1.js"></script>
    <script src="/bower_components/angulartics/src/angulartics.js"></script>
    <script src="/bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
    <!-- endbower -->

    <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
    <!-- endbuild -->

    <!-- ///////////////////////////////////////////////////////// -->
    <!-- fluro:appdata -->
    <!-- ///////////////////////////////////////////////////////// -->

    <!-- build:js /js/app.js -->
    <script src="/js/app.js"></script>
    <script src="/js/templates.js"></script>
    <!-- endbuild -->


    <!-- ///////////////////////////////////////////////////////// -->
    <!-- fluro:devstart -->
    <script src="http://localhost:9002/livereload.js"></script>
    <script src="http://attendance.fluro.io/appdata.js" type="text/javascript"></script>
    <!-- fluro:devend -->
    <!--//////////////////////////////////////////-->
    
    <!-- fluro:footerinject -->

</body>
</html>
